# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo
*.pyd


# ==============================
# Virtual environment
# ==============================

.venv/
venv/
env/


# ==============================
# PyCharm / IDE
# ==============================

.idea/
.vscode/


# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/


# ==============================
# Operating system
# ==============================

.DS_Store
Thumbs.db


# ==============================
# Logs / cache
# ==============================

*.log
.cache/


# ==============================
# Temporary files
# ==============================

*.tmp
*.temp
~$*


# ==============================
# Python packaging
# ==============================

build/
dist/
*.egg-info/


# ==============================
# Project generated data
# ==============================

data/processed/


# ==============================
# Generated models
# ==============================

models/*.pkl


# ==============================
# Generated results
# ==============================

results/*.csv